.Character
{
    margin:0 auto;
   width:35rem;
 // padding:1rem;
  box-shadow: -1px 15px 30px -12px black;
  border-radius:10px 10px 10px 10px;
   //border:2px solid green;
    .Top-Section
    {
        padding:.3rem;
       // border:2px solid blue;
        display: flex;
        justify-content: center;
        border-radius:10px 10px 0 0;
        filter:brightness(1.07);
        position:relative;
        .gold_circle 
        {
          width:2.5rem;
          height:2.5rem;
          position:absolute;
          background-color:gold;
          border-radius:50%;
          top:5%;
          right:4%;
          border:2px solid white;
         
        }
        img 
        {
          
            transform:scale(1.3) translateY(-10%);
            width:20rem;
            height:25rem;
            transition:all .3s ease;
            cursor:pointer;
            &:hover{
              transform:scale(1.4) translateY(-10%);
              filter:brightness(1.03);
            }
           
        }
    }
    .Lower-Section
    {
         //border:2px solid black;
        background-color:white;
        border-radius:0 0 10px 10px;
        .name
        {
            margin:.4rem;
            margin-top:0;
            padding:.3rem;
            font-size:4rem;
            font-weight:bold;
            text-align:center;
            font-family: 'Lato', sans-serif;
            color:black;

        }
        .Flex
        {
            display:flex;
            justify-content: space-around;
            margin:.5rem;
            .About
            {
               
                font-size:2rem;
                font-weight:bold;
                text-align:center;
                font-family: 'Lato', sans-serif;
                filter:brightness(.5);

            }
            .My_Circle
            {
              position:relative;
              cursor: pointer;
              transition:all .3s ease;
              &:hover{
                transform:scale(1.05);
              }
              div
              {
                position: absolute;
                top:27%;
                left:34%;
                font-size:2rem;
                color:black;
                font-family: 'Lato', sans-serif;
              }
            }
        }
        .Base_Price
        {
          //border:2px solid red;
          text-align: center;
          margin:.3rem;
          padding:1rem;
          font-size:2rem;
          color:black;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;


        }
    }

}
svg {
    width: 85px;
    height: 85px;
  //  border:2px solid red;
    display:flex;
    justify-content: center;
  }
  
  .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
  }
  
  [class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 40px 40px;
    
  }
  
  .meter-1 {
    
    stroke: lime;
    animation: progress-1 1s ease-out;
  }
  .meter-2 {
    
    stroke: red;
    animation: progress-1 1s ease-out;
  }
  .meter-3 {
    
    stroke: #63C8F2;
    animation: progress-1 1s ease-out;
  }